<div class="card">
  <h5>Manage Shipping Companies</h5>
  <div class="p-fluid">
      <div class="p-field p-grid">
          <label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Name</label>
          <div class="p-col-12 p-md-10">
              <input id="firstname4" type="text" pInputText>
          </div>
      </div>
      <!-- <div class="p-field p-grid">
          <label for="lastname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Lastname</label>
          <div class="p-col-12 p-md-10">
              <input id="lastname4" type="text" pInputText>
          </div>
      </div> -->
  </div>
  <br>
  <button pButton type="button" label="Save" ></button>
</div>
