<p-fieldset legend="Header"  [toggleable]="true">
    <div class="card">
  <h5>Manage Shipping Companies</h5>
  <div class="p-fluid">
      <div class="p-field p-grid">
          <label for="firstname4" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Name</label>
          <div class="p-col-12 p-md-10">
              <input id="firstname4" type="text" pInputText>
          </div>
      </div>

  </div>
  <br>
  <button pButton type="button" label="Save" ></button>
</div>
</p-fieldset>
<br>
<p-panel header="shipping Companies list">
 <p-table [value]="shippingCompanies" dataKey="id" [rowHover]="true"
 [rows]="10" [showCurrentPageReport]="true"
 [rowsPerPageOptions]="[10,25,50]"
 [paginator]="true"
 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
 [filterDelay]="0"
 [globalFilterFields]="['name']"
 >
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th pSortableColumn="name">
            <div class="p-d-flex p-jc-between p-ai-center">
                Name
                <p-sortIcon field="name"></p-sortIcon>
                <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
            </div>
        </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ShippingCompanyModel>
      <tr>
          <td>{{ShippingCompanyModel.id}}</td>
          <td>{{ShippingCompanyModel.name}}</td>
      </tr>
  </ng-template>
</p-table>

</p-panel>
